[submodule "config/package-lists"]
	path = config/package-lists
	url = https://github.com/Prototype-Linux/package-lists.git
[submodule "config/hooks/normal"]
	path = config/hooks/normal
	url = https://github.com/Prototype-Linux/hooks.git
[submodule "lb-config"]
	path = lb-config
	url = https://github.com/Prototype-Linux/lb-config
[submodule "config/includes.chroot"]
	path = config/includes.chroot
	url = https://github.com/Prototype-Linux/branding.git
[submodule "config/includes.installer"]
	path = config/includes.installer
	url = https://github.com/Prototype-Linux/installer
